@import url(../../components/Auth/AuthForm.less);


@font-face {
    font-family: Century_Gothic;
    src: url(../fonts/century_gothic.woff2);
}

html {
    box-sizing: border-box;
    font-family: Century_Gothic;
    font-size: 16px;
    color: #4d4d4d;
}